:root {
    --primary-color: #00BCD4;
    --secondary-color: #0097A7;
    --secondary-dark: #253D4E;
    --tertiary-color: #F3FBFB;
    --light-color: #fff;
    --dark-color: #111;
    --box-shadow-bottom: 0 1px 3px rgba(0, 0, 0, 0.09);
    --fast-transition: all 0.08s ease;
    --medium-transition: all 0.12s ease;
    --slow-transition: all 0.20s ease;
    --slower-transition: all 0.5s ease;
    --size-value-1: 0.25rem;
    --size-value-2: 0.50rem;
    --size-value-3: 0.75rem;
    --size-value-4: 1rem;
}

.p-1 {
    padding: var(--size-value-1);
}

.p-2 {
    padding: var(--size-value-2);
}

.p-3 {
    padding: var(--size-value-3);
}

.p-4 {
    padding: var(--size-value-4);
}

.m-1 {
    margin: var(--size-value-1);
}

.m-2 {
    margin: var(--size-value-2);
}

.m-3 {
    margin: var(--size-value-3);
}

.m-4 {
    margin: var(--size-value-4);
}

.mt-1 {
    margin-top: var(--size-value-1);
}

.mt-2 {
    margin-top: var(--size-value-2);
}

.mt-3 {
    margin-top: var(--size-value-3);
}

.mt-4 {
    margin-top: var(--size-value-4);
}

.mb-1 {
    margin-bottom: var(--size-value-1);
}

.mb-2 {
    margin-bottom: var(--size-value-2);
}

.mb-3 {
    margin-bottom: var(--size-value-3);
}

.mb-4 {
    margin-bottom: var(--size-value-4);
}

.ms-1 {
    margin-left: var(--size-value-1);
}

.ms-2 {
    margin-left: var(--size-value-2);
}

.ms-3 {
    margin-left: var(--size-value-3);
}

.ms-4 {
    margin-left: var(--size-value-4);
}

.me-1 {
    margin-right: var(--size-value-1);
}

.me-2 {
    margin-right: var(--size-value-2);
}

.me-3 {
    margin-right: var(--size-value-3);
}

.me-4 {
    margin-right: var(--size-value-4);
}

.px-1 {
    padding: var(--size-value-1) 0rem;
}

.px-2 {
    padding: var(--size-value-2) 0rem;
}

.px-3 {
    padding: var(--size-value-3) 0rem;
}

.px-4 {
    padding: var(--size-value-4) 0rem;
}

.py-1 {
    padding: 0rem var(--size-value-1);
}

.py-2 {
    padding: 0rem var(--size-value-2);
}

.py-3 {
    padding: 0rem var(--size-value-3);
}

.py-4 {
    padding: 0rem var(--size-value-4);
}

.d-none {
    display: none;
}


.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-evenly {
    justify-content: space-evenly;
}

.text-decoration-none {
    text-decoration: none;
}

.text-dark {
    color: #111;
}

.text-center {
    text-align: center;
}

.active-primary-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.inactive {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: var(--fast-transition);
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.btn-primary:active {
    background-color: var(--secondary-color);
}

.btn-primary-outline {
    background-color: var(--light-color);
    border: 1px var(--primary-color) solid;
    border-radius: 10px;
    color: var(--dark-color);
}

.btn-primary-outline:active {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.color-primary {
    color: var(--primary-color);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 1214px) {
    .newsletter-inner-img img {
        display: none;
    }

}

@media screen and (min-width: 830px) {
    .product-wrapper {
        padding: 0px;
    }

    .product-img-thumbnail img {
        max-height: 100px;
        max-width: 100px;
    }

    .product-img-thumbnail {
        max-height: 100px;
        max-width: 100px;
    }

    .product-wrapper {
        padding: 40px;
    }

}

@media screen and (max-width: 830px) {
    .main-content {
        max-width: 1320px;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 100vh;
        padding: 10px;
    }

    .right-sidebar {
        display: none;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .product-wrapper {
        padding: 0px;
    }

    .product-img-thumbnail img {
        max-height: 50px;
        max-width: 50px;
    }

    .product-img-thumbnail {
        max-height: 50px;
        max-width: 50px;
    }

    .footer__logo {
        width: auto;
        max-width: 250px;
    }

    .mc-cat-inner {
        width: auto;
        max-width: 300px;
    }

}

@media screen and (max-width: 768px) {
    .acc-svg span {
        display: none;
    }

    .cart-svg span {
        display: none;
    }

    .top-nav-search {
        display: none;
    }

    .top-nav-search-mobile {
        display: block;
    }

    .logo-wrapper {
        display: none;
    }

    .logo-wrapper-mobile {
        display: block;
    }
}

@media screen and (min-width: 390px) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 1920px) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}


#top-nav {
    position: sticky;
    z-index: 1000;
    top: 0px;
}

.top-nav-wrapper {
    min-height: 60px;
    width: 100%;
    background: var(--light-color);
    box-shadow: var(--box-shadow-bottom);
}

.top-nav-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 20px;
}

.top-nav-content-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0px;

}

.top-nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-search-mobile {
    display: none;
}

.burger {
    height: 30px;
    width: 30px;
    margin: 10px 0;
}


.logo-wrapper {
    margin-right: 0;
    margin-left: 20px;
}

.logo-wrapper-mobile {
    display: none;
}

.logo {
    margin-top: 2px;
    max-width: 180px;
    height: 42px;
    object-fit: contain;
}

.search-bar-1 {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    border: 2px solid #0096a740;

}

.search-bar-2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 244px;
    border: 2px solid #0096a740;

}

.search-wrapper-mobile {
    display: flex;
    justify-content: center;
}

.search-bar-input {
    width: 100%;
    margin-left: 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    height: 40px;
    font-size: 14px;
    outline: none;
}

.account-actions {
    max-width: 350px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.account-wrapper {
    padding: 0 10px;
}

.cart-wrapper {
    padding: 0 10px;
}

.cart-wrapper:hover,
.socials-wrapper:hover {
    cursor: pointer;
}


.socials-wrapper {
    margin-left: 10px;
}


.right-sidebar {
    background-color: #fff;
    float: right;
    top: 0;
    min-height: 100vh;
    width: 290px;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.09);
}


.right-sidebar-cart-wrapper {
    z-index: 10000;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 300px;
    top: 65px;
    background-color: var(--tertiary-color);
    height: max-content;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.09);
}

.right-sidebar-cart-checkout button {
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 15px;
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
    transition: var(--medium-transition);
}

.right-sidebar-cart-checkout button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.right-sidebar-cart-view button {
    border: none;
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
    transition: var(--medium-transition);
}

.right-sidebar-cart-view button:hover {
    cursor: pointer;
    color: var(--light-color);
    background-color: var(--primary-color);
}

/* .no-items-in-cart {
    transition: var(--slow-transition);
} */

.no-items-in-cart-img {
    margin: 20px;
    height: 300px;
}

.no-items-in-cart-desc {
    text-align: center;
}

.no-items-in-cart-desc strong {
    text-decoration: underline;
    color: var(--primary-color);
}

.no-items-in-cart-desc strong:hover {
    cursor: pointer;
}

.right-sidebar-cart-dismiss {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.right-sidebar-cart-dismiss-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}

.right-sidebar-cart-dismiss-btn:hover {
    cursor: pointer;
}

.right-sidebar-cart-dismiss-btn .fa-regular {
    margin-top: 10px;
    font-size: 30px;
}

.cart-item-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: var(--light-color);
    padding: 5px;
    border: 1px var(--primary-color) solid;
    border-radius: 15px;
}

.cart-item-img {
    height: 75px;
    width: 75px;
}

.cart-item-img img {
    height: 75px;
}

.cart-item-desc {
    margin-left: 2rem;
    width: 100%;
}

.cart-item-title {
    font-weight: bold;
}

.cart-item-remove {
    height: 50px;
    width: 50px;

}

.cart-item-remove img:hover {
    cursor: pointer;
}


/* w3schools sidebar start here */

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    transition: all 0.5s ease;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.09);
}

.sidenav a,
.dropdown-btn {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    border: none;
    border-bottom: 1px solid #ececec;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.dropdown-btn {
    width: 100%;
    color: #8a8a8a;
}

.sub-dropdown-btn {
    color: #8a8a8a;
}


.dropdown-btn.active {
    color: var(--primary-color);
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: var(--secondary-color);
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    color: var(--primary-color);
}

.active:hover {
    color: var(--secondary-color);
}

.dropdown-container,
.sub-dropdown-container {
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding-left: 8px;
    transition: all 0.5s ease;
}

.sub-dropdown-container a {
    color: #8a8a8a;
}

.dropdown-container.visible,
.sub-dropdown-container.visible {
    height: max-content;
    opacity: 1;
    visibility: visible;
}

.fa-caret-down {
    margin-right: 5px;
    float: right;
    transition: var(--fast-transition);

}

.fa-caret-down.expanded-rotate {
    transform: rotate(-90deg);
}

/* w3schools sidebar end here */

.content-wrapper {
    grid-template-columns: repeat(auto-fill, 202px);
    gap: 4px;
    justify-content: center;
    align-items: flex-end;
    transition: var(--slower-transition);
    margin-left: 300px;
}


.main-content {
    margin-right: 0px;
    min-height: 100vh;
    background: var(--light-color);
    padding: 10px;
}




.margin-right-300-mc {
    margin-right: 300px;
}

.margin-left-300-mc {
    margin-left: 300px;
}


.item {
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ececec;
    border-radius: 15px;
    overflow: hidden;
    max-width: 202px;
    transition: all 0.10s linear;
}

.item:hover {
    box-shadow: 0 1px 3px #04b2c5;
}

.item-picture {
    background-color: #fff;
    padding: 10px;
    max-width: 232px;
    max-height: 232px;
    transition: var(--slow-transition);
}

.item-picture:hover {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}

.item-desc {
    text-align: start;
    background-color: #fff;
    padding: 10px;
}

.item-desc-category a {
    text-decoration: none;
    font-size: 12px;
    color: #adadad;
}

.item-desc-category a:hover {
    color: var(--secondary-color);
}

.item-desc-title p {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #111;
}

.item-desc-title {
    min-height: 75px;
    overflow-y: scroll;
}

.item-desc-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
}

.item-desc-add {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    min-width: 100%;
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.20s linear;
}

.item-desc-add:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.item-desc-title a:hover {
    color: var(--primary-color);
}

/* Footer */

.footer-distributed {
    background-color: var(--tertiary-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    transition: var(--fast-transition);
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-left img {
    max-width: 340px;
}

/* The company logo */

.footer-distributed h3 {
    color: #111;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #111;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #111;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--tertiary-color);
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 1214px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.heart {
    color: #2f2f2f;
}


.newsletter-container {
    margin: 20px 10px;
}

.newsletter {
    background-color: var(--tertiary-color);
    border-radius: 40px;
    padding: 40px;
}

.newsletter-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-inner-content {
    font-family: "quicksand", sans-serif;
}

.newsletter-inner-content h1 {
    color: var(--secondary-dark);
}

.newsletter-inner-content h5 {
    color: #adadad;
}

.newsletter-inner-content form {
    display: flex;
    justify-content: center;
    user-select: all;
    align-items: center;
    max-width: 450px;
    background-color: var(--light-color);
    border-radius: 400px;
}

.newsletter-inner-content form .newsletter-input {
    width: 100%;
    height: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 400px;
    outline: none;
}

.newsletter-submit {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: bold;
    height: auto;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 400px;
    outline: none;
    transition: var(--fast-transition);
}

.newsletter-submit:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.newsletter-inner-content form i {
    margin-left: 30px;

}


.newsletter-inner-img img {
    max-height: 300px;
    max-width: auto;
}



.mc-cat-wrapper {
    margin-left: 300px;
    display: grid;
    padding: 30px;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 410px);
    transition: var(--slower-transition);
}

.mc-cat-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    min-height: 300px;
    margin: 10px;
    border-radius: 10px;
}

.mc-cat-text {
    margin-left: 20px;
}

.mc-cat-text button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: var(--fast-transition);
}

.mc-cat-text button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Product Page */

.product-page-header {
    display: flex;
    justify-content: space-between;
}


.product-wrapper {
    margin-left: 300px;
    transition: var(--slower-transition);
}

.product-container {
    display: flex;
    justify-content: flex-start;
}

.product-img-wrapper {
    box-shadow: var(--box-shadow-bottom);
    padding: 20px 10px;
}

.product-img-container {
    max-height: 500px;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}

.product-img {
    position: relative;
    width: 100%;
}

.product-img-container:hover .product-img {
    transform: scale(1.5);
}

.product-img-select {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.product-img-thumbnail {

    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-bottom);
    cursor: pointer;
}

.product-img-thumbnail-active {
    border: 1px var(--primary-color) solid;
    box-shadow: 0 0 10px var(--primary-color);
}

.product-desc-title {
    font-size: 30px;
}

.product-desc-category a {
    text-decoration: none;
    font-size: 18px;
    color: #adadad;
}

.product-desc-category a:hover {
    color: var(--secondary-color);
}

.product-desc-price {
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-desc-mini-description {
    font-size: 15px;
    color: #adadad;
}

.product-desc-cart {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.product-desc-cart-qnty {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    height: 50px;
    width: 50px;
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    outline: none;
    padding: 0;
}

.in-cart-qty-val input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    height: 20px;
    padding: 8px 25px;
    width: 40px;
    border-top: 1px var(--primary-color) solid;
    border-bottom: 1px var(--primary-color) solid;
    border-right: none;
    border-left: none;
    text-align: center;
    outline: none;
}

.in-cart-qty {
    justify-content: center;
}

.in-cart-qty-dec {
    border-top: 1px var(--primary-color) solid;
    border-bottom: 1px var(--primary-color) solid;
    border-left: 1px var(--primary-color) solid;
    border-right: 1px var(--primary-color) solid;
    border-radius: 10px 0 0 10px;
    padding: 8px 20px;
    width: 40px;
    transition: var(--fast-transition);
}

.in-cart-qty-dec:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.in-cart-qty-inc {
    border-top: 1px var(--primary-color) solid;
    border-bottom: 1px var(--primary-color) solid;
    border-right: 1px var(--primary-color) solid;
    border-left: 1px var(--primary-color) solid;
    border-radius: 0 10px 10px 0;
    padding: 8px 20px;
    width: 40px;
    transition: var(--fast-transition);
}

.in-cart-qty-inc:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.qnty-increment,
.qnty-decrement {
    background-color: var(--light-color);
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    transition: var(--fast-transition);
    height: 50px;
    width: 50px;
}

.qnty-increment:hover,
.qnty-decrement:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.qnty-increment:active,
.qnty-decrement:active {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.product-desc-cart-qnty::-webkit-outer-spin-button,
.product-desc-cart-qnty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-desc-cart-btn button {
    border: none;
    border-radius: 10px;
    font-size: 17px;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 15px;
    transition: var(--fast-transition);
}

.product-desc-cart-btn button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.product-full-desc-buttons button {
    margin: 20px 0;
    /* background-color: var(--light-color); */
    border: 1px var(--primary-color) solid;
    border-radius: 1000px;
    padding: 20px;
    font-size: 15px;
}



.product-full-desc-buttons button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
}

.product-full-desc-buttons button:active {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.product-full-desc-main {
    border: 1px #adadad solid;
    border-radius: 10px;
    padding: 30px;
    font-size: 15px;
    color: #333;
}

/* Product page end */

#cart-detail-view-wrap {
    margin-right: 300px;
    margin-left: 300px;
    padding: 30px;

}

.checkout-view-wrapper {
    margin-right: 300px;
    margin-left: 300px;
    padding: 30px;
}

.cart-detail-view-container {
    background-color: var(--tertiary-color);
    padding: 40px;
    border-radius: 10px;
}

.cart-detail-view-title {
    display: flex;
    justify-content: start;
}

.cart-detail-view-title-path {
    display: flex;
    color: var(--secondary-dark);
}

.cart-detail-view-title-path p {
    align-self: center;
    margin: 0;
    margin-left: 3rem;
}

.cart-detail-list-header {
    text-align: center;
    border-bottom: #ececec 1px solid;
    margin-bottom: 15px;
    padding-top: 15px;
}

.cart-list table {
    width: 100%;
    text-align: center;
}

.cart-list {
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 20px;
}

.cart-list-tbody tr {
    height: 10rem;
}

.cart-list-tbody-prod-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-tbody-prod-title-img img {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-list-tbody-prod-title-link a {
    text-decoration: none;
    color: var(--secondary-dark);
}

.cart-list-tbody-prod-title-link a:hover {
    color: var(--primary-color);
}

.cart-list-pricing-wrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0px;
    width: 25%;
}

.cart-list-pricing-header {
    border-bottom: 1px solid var(--secondary-dark);
}

.cart-list-pricing-subtotal {
    border-bottom: 1px solid var(--secondary-dark);
    display: flex;
    justify-content: space-between;

}

.cart-list-bottom-portion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-list-checkout {
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 15px;
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
    transition: var(--medium-transition);
}

.cart-list-dismiss-btn {
    border: none;
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 15px;
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
    transition: var(--medium-transition);
}

.cart-list-checkout:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.cart-list-dismiss-btn:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
}

.cart-list-pricing-total {
    display: flex;
    justify-content: space-between;

}

.no-items-in-cart-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-items-in-cart-container img {
    margin-right: 50px;
}

.no-items-in-cart-container h5 {
    text-decoration: underline;
    color: var(--primary-color);
}

.no-items-in-cart-container h5:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.checkout-main-section {
    justify-content: space-between;
}

.checkout-form-wrapper {
    background-color: var(--light-color);
    padding: 20px;
    width: auto;
    flex: 0 0 55%;
    max-width: 55%;
}

.checkout-cart-wrapper {
    background-color: var(--light-color);
    width: auto;
    flex: 0 0 40%;
    height: fit-content;
}

.checkout-cart-summary{
    padding: 20px;
    border-bottom: 1px solid #ececec;
}

.checkout-cart-buttons{
    flex-direction: column;
}

.checkout-cart-payment button {
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    width: 100%;
    padding: 15px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: medium;
    transition: var(--fast-transition);
}
.checkout-cart-payment button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.checkout-back-to-cart button {
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--light-color);
    color: var(--primary-color);
    width: 100%;
    padding: 15px;
    margin-top: .5rem;
    font-size: medium;
    transition: var(--fast-transition);
}
.checkout-back-to-cart button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.checkout-billing-form-container {
    flex-direction: column;
}

.checkout-billing-form-container input,
.checkout-billing-form-container select {
    border: none;
    border: solid 1px #ececec;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px;
}

#deliverOrderNotes {
    border: none;
    border: solid 1px #ececec;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px;
}