body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#top-nav {
    position: sticky;
    top: 0px;
}

.top-nav-wrapper {
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}

.top-nav-container {
    max-width: 100%;
    padding: 0 20px;
}

.top-nav-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0px;
}

.top-nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    height: 30px;
    width: 30px;
    margin: 10px 0;
}


.logo-wrapper {
    margin-right: 70px;
    margin-left: 0px;
}

.logo {
    margin-top: 2px;
    width: 180px;
    max-width: 180px;
    height: 42px;
    object-fit: contain;
}

.search-bar-1 {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    border: 2px solid #0096a740;

}

.search-bar-input {
    width: 1100px;
    margin-left: 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    height: 40px;
    font-size: 14px;

}

.account-actions {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-wrapper {
    margin-left: 10px;
}

.main-content {
    width: 1320px;
    margin-left: 300px;
    margin-right: 300px;
    height: 100vh;
    background: #fff;
    padding: 10px;
}

/* 
.right-sidebar {
    position: fixed;
    right: 0;
    top: 60px;
    height: 100vh;
    width: 300px;
    background-color: #eee;
}
.left-sidebar {
    position: fixed;
    left: 0;
    top:60px;
    height: 100vh;
    width: 300px;
    background-color: #eee;
    overflow-y: scroll;
} */

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
}

#left-sidebar {
    top: 60px;
    max-width: 300px;
    padding: 30px;
}

#right-sidebar {
    top: 60px;
    max-width: 300px;
    padding: 30px;
}

.item {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    border: 1px solid #ececec;
    border-radius: 15px;
    overflow: hidden;
}

.item:hover {
    box-shadow: 0 1px 3px #04b2c5;
}

.item-picture {
    background-color: #fff;
    padding: 10px;
    max-width: 232px;
    max-height: 232px;
}

.item-desc {
    background-color: #fff;
    padding: 10px;
}

.item-desc-category a {
    font-size: 12px;
    color: #adadad;
}

.item-desc-category a:hover {
    color: #0097a7
}

.item-desc-title a {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #111;
}

.item-desc-title {
    min-height: 75px;
    overflow-y: scroll;
}

.item-desc-price {
    font-size: 18px;
    font-weight: bold;
    color: #0097a7;
}

.item-desc-add button{
    background-color: #0097a7;
    border: none;
    color: white;
    min-width: 100%;
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.item-desc-add button:hover {
    background-color: #04b2c5;
}

.item-desc-title a:hover {
    color: #0097a7;
}

.left-sidebar-links a {
    color: black;
    padding: 10px 0px;
}

.left-sidebar-links-border {
    margin: 10px 0px;
    border-bottom: 1px solid #ececec;
    width: 100%;

}

.left-sidebar-links a:hover {
    color: #0097a7;
}